**/*.tar.gz
LK*/qemu/root
root/

**/busybox*

# Kernel and module build artifacts
*.a
*.bin
*.bz2
*.dtb
*.dtbo
*.dtb.S
*.elf
*.gcno
*.gz
*.i
*.ko
*.ko.cmd
*.ll
*.lst
*.lzma
*.lzo
*.mod
*.mod.c
*.mod.o
*.o
*.o.cmd
*.o.*
*.order
*.s
*.su
*.symtypes
*.xz
.*.cmd
.cache.mk
.config
.config.old
.missing-syscalls.d
.tmp_*
.tmp_versions/
bzImage
Module.symvers
System.map
modules.builtin.ranges
modules.builtin
modules.builtin.modinfo
modules.order
vmlinux
vmlinux.*

# Generated kernel build directories
arch/*/include/generated/
include/config/
include/generated/
kernel/config_data
